pip==20.0.2
bump2version==1.0.0
wheel==0.34.2
watchdog==0.10.2
flake8==3.7.9
tox==3.14.0
coverage==4.5.4
Sphinx==1.8.5
twine==3.1.1

pytest==4.6.5
pytest-runner==5.1
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
